/* Container Border */
.borde {
    border: 12px solid #1989B8;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}

.sobre {
    color: #3155ff;
    font-weight: bold;
    text-decoration: underline;
}

input[type=text],input[type=password]{
    width: 50%;
    margin: auto;
}

.leftcolumn {
    float: left;
    width: 70%;
    padding-left: 130px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 30%;
    padding-left: 30px;
    padding-right: 130px;
}

body {
    background: #e6e6e6;
}

.espacio{
    padding-left: 50px;
    padding-right: 50px;
}

.bclass{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 4px solid #1989B8;
    border-radius: 4px;
    background-color: white;
    font-family: inherit;
}
.etiqueta{
    border: 1px solid #1989B8;
    border-radius: 4px;
    background-color: white;
    font-family: inherit;
    margin: 4px 2px;
    padding: 3px 5px;
    text-align: center;
}

