/* Container Border */
.borde {
    border: 12px solid #1989B8;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}

.sobre {
    color: #3155ff;
    font-weight: bold;
    text-decoration: underline;
}

input[type=text],input[type=password]{
    width: 50%;
    margin: auto;
}

.leftcolumn {
    float: left;
    width: 70%;
    padding-left: 130px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 30%;
    padding-left: 30px;
    padding-right: 130px;
}

body {
    background: #e6e6e6;
}

.espacio{
    padding-left: 50px;
    padding-right: 50px;
}

.bclass{

}

